<div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="@Url.Content("~/Content/Carousel/carousel0.png")" alt="">
            <div class="carousel-caption">
                <h1>Erbsenzähler: Behalten Sie den Überblick über Ihre Ausgaben.</h1>
            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/Content/Carousel/carousel1.png")" alt="...">
            <div class="carousel-caption">
                <h1>Auf einen Blick haben Sie Übersicht über Ihre Ausgaben.</h1>
            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/Content/Carousel/carousel2.png")" alt="...">
            <div class="carousel-caption">
                <h1>Importieren Sie einfach Kontoauszüge aus Ihrem E-Banking.</h1>
            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/Content/Carousel/carousel3.png")" alt="...">
            <div class="carousel-caption">
                <h1>Ausgefeilte Regeln helfen Ihnen, Ihre Ausgaben zu kategorisieren.</h1>
            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/Content/Carousel/carousel4.png")" alt="...">
            <div class="carousel-caption">
                <h1>Wunderschöne Charts und Reports machen Ihr Haushaltsbuch zum Kinderspiel.</h1>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Vorheriges</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Nächstes</span>
    </a>
</div>
