@model Erbsenzaehler.ViewModels.ManageAccounts.DeleteViewModel

<h2>Konto '@Model.Account.Name' löschen</h2>

@if (Model.IsLastAccount)
{
    <div class="alert alert-danger">
        Sie können dieses Konto nicht löschen, da es Ihr letztes ist.
        Legen Sie zuerst ein neues Konto an, wenn Sie dieses unbedingt löschen möchten.
    </div>

    @Html.ActionLink("Zurück", "Index", null, new { @class = "btn btn-default" })
}
else
{
    <text>
        <p>
            Sind Sie sicher, dass Sie dieses Konto löschen möchten?
        </p>

        @if (Model.NumberOfLines > 0)
        {
            <div class="alert alert-warning">
                Wenn Sie dieses Konto löschen, löschen Sie auch <b>@Model.NumberOfLines.ToString("N0") @(Model.NumberOfLines == 1 ? "Buchungszeile" : "Buchungszeilen")</b>.
            </div>
        }

        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Löschen" class="btn btn-danger"/> 
                    @Html.ActionLink("Zurück", "Index", null, new { @class = "btn btn-default" })
                </div>
            }
        </div>
    </text>
}
