@model Erbsenzaehler.ViewModels.ManageAccounts.IndexViewModel

<h2>Konten verwalten</h2>

<p>
    @Html.ActionLink("Neues Konto anlegen", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table table-striped">
    @foreach (var item in Model.Accounts)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.LinesCount.ToString("N0") @(item.LinesCount == 1 ? "Buchungszeile" : "Buchungszeilen")
            </td>
            <td>
                @Html.ActionLink("Buchungszeilen-Duplikate finden", "Duplicates", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Bearbeiten", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Löschen", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
