@model Erbsenzaehler.ViewModels.ManageRules.UploadRulesViewModel
<h2>Regeln importieren</h2>


@if (Model.Result != null)
{
    <div class="alert alert-success">
        @Model.Result.RulesAddedOrUpdated.ToString("N0") @(Model.Result.RulesAddedOrUpdated == 1 ? "Regel wurde" : "Regeln wurden") importiert.
    </div>
}
else
{
    <div class="alert alert-info">
        Sie können hier Regeln importieren. Laden Sie eine Datei im selben Format hoch, wie Sie sie beim <a href="@Url.Action("Index")" class="alert-link">Regel-Export</a>
        herunterladen können.
        <b>Bitte beachten Sie, dass beim Import alle schon existierenden Regeln überschrieben werden!</b>
    </div>
}

@using (Html.BeginForm("Upload", "ManageRules", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.Label("file", "Datei: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" id="file" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Datei hochladen und importieren</button>
                @Html.ActionLink("Zurück", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
