@using Erbsenzaehler.Models
@model Erbsenzaehler.ViewModels.ManageBudgets.IndexViewModel

<h2>Manage budgets</h2>

<datalist id="categoriesDatalist">
    @foreach (var category in Model.Categories)
    {
        <option value="@category"></option>
    }
</datalist>

<div ng-app="erbsenzaehlerApp" ng-controller="budgetsController">
    <p ng-show="loading">
        Loading your budgets, please give it a second or two ...
    </p>

    <table class="table table-striped budgets-editor" ng-show="!loading && budgets.length > 0">
        <tr>
            <th>Category</th>
            <th>Limit?</th>
            <th>
                <button class="btn btn-sm btn-success pull-right" ng-click="addBudget()">Add additional budget</button>
            </th>
        </tr>

        <tr ng-repeat="budget in budgets">
            <td>
                <input type="text" list="categoriesDatalist" ng-model="budget.category" ng-blur="saveBudget(budget, $event)" class="form-control" placeholder="Category?" required/>
            </td>
            <td>
                <input type="number" step="10" ng-model="budget.limit" ng-blur="saveBudget(budget, $event)" class="form-control" placeholder="Limit?" required/> € per
                <select ng-model="budget.period" class="form-control" ng-change="saveBudget(budget, $event)" ng-options="o.value as o.name for o in periodOptions" ng-init="Monthly"></select>
            </td>
            <td>
                <div>
                    <button class="btn btn-sm btn-danger pull-right" ng-click="deleteBudget(budget)">Delete</button>
                </div>
            </td>
        </tr>
    </table>

    <div class="alert alert-warning" ng-show="!loading && budgets.length <= 0">
        <button class="btn btn-success pull-right" ng-click="addBudget()">Create a first budget</button>

        <p>
            You don't have any budgets configured yet. You can use budgets to create spending limits for certain categories;
            for example, you could create a budget for the category "Party" with a limit of € 100 a month.
        </p>

        <p>
            Erbsenzähler cannot really force you to stop spending, of course, but it can warn you if you are about to exceed such a spending limit.
        </p>

        <p>
            Tipp: Use <a href="@Url.Action("Index", "ManageRules")" class="alert-link">rules</a> to automatically assign categories to certain lines in your account statements.
        </p>
    </div>
</div>

@section scripts {
    @* ReSharper disable once InconsistentNaming *@
    <script>
        erbsenzaehlerServices.factory('Budget', function($resource) {
            return $resource('@Url.Action("Json")/:id', { id: '@@id' }, {
                update: {
                    method: 'PUT'
                }
            });
        });
        erbsenzaehlerControllers.controller('budgetsController', function($scope, Budget) {
            $scope.periodOptions = [
                { name: 'month', value: @((int) Budget.LimitPeriod.Monthly) }, { name: 'week', value: @((int) Budget.LimitPeriod.Weekly) }, { name: 'year', value: @((int) Budget.LimitPeriod.Yearly) }
            ];

            $scope.loadBudgets = function(callback) {
                $scope.loading = true;
                $scope.budgets = Budget.query(function() {
                    $scope.loading = false;
                    if (callback) {
                        callback();
                    }
                });
            };

            $scope.addBudget = function() {
                $scope.loading = true;
                var newBudget = new Budget();

                newBudget.category = '';
                newBudget.limit = 100;
                newBudget.period = $scope.periodOptions[0].value;

                Budget.save(newBudget, function() {
                    $scope.loadBudgets(function() {
                        // set focus to the first input, this should be the just added line.
                        setTimeout(function() {
                            var requiredFields = $(".budgets-editor input");
                            if (requiredFields.length > 0) {
                                requiredFields[0].focus();
                            }
                        }, 100);
                    });
                });
            };

            $scope.saveBudget = function(updatedBudget, event) {
                if (event) {
                    var control = $(event.target);
                    control.parent().removeClass("has-error");

                    if (control.attr("required") && control.val().length <= 0) {
                        setTimeout(function() {
                            control.focus();
                            control.parent().addClass("has-error");
                        }, 50);
                        return;
                    }
                }

                updatedBudget.$update();
            };

            $scope.deleteBudget = function(deletedBudget) {
                deletedBudget.$delete(function() {
                    var index = $scope.budgets.indexOf(deletedBudget);
                    $scope.budgets.splice(index, 1);
                });
            };


            $scope.loadBudgets();
        });
    </script>
}