<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Erbsenzähler is my very own to to track expenses and income." />
    <meta name="author" content="Hannes Sachsenhofer" />
    <title>Erbsenzähler</title>

    <link rel="shortcut icon" href="~/Content/Icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/Icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/Icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="~/Content/Icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="~/Content/Icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Content/Icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/Content/Icons/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="~/Content/Icons/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="~/Content/Icons/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="~/Content/Icons/widetile.png" />
    <meta name="msapplication-square310x310logo" content="~/Content/Icons/largetile.png" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @* ReSharper disable VariableUsedInInnerScopeBeforeDeclared *@
    @* ReSharper disable ExpressionIsAlwaysConst *@
    @* ReSharper disable StatementIsNotTerminated *@
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "283be434-b6e7-45a3-ba76-7b41b51c645c"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
    @* ReSharper restore StatementIsNotTerminated *@
    @* ReSharper restore ExpressionIsAlwaysConst *@
    @* ReSharper restore VariableUsedInInnerScopeBeforeDeclared *@
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/Icons/logo.png")" alt="Erbsenzähler" title="Erbsenzähler" class="logo" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    @if (Request.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Reports <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Overview", "Index", "Reports")</li>
                                    <li>@Html.ActionLink("Balance", "Balance", "Reports")</li>
                                    <li>@Html.ActionLink("Per category", "Amounts", "Reports")</li>
                                </ul>
                            </li>

                            <li>@Html.ActionLink("Details", "Index", "Lines")</li>
                            <li>@Html.ActionLink("Import", "Index", "Import")</li>

                            <li class="dropdown">
                                <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Manage <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Rules", "Index", "ManageRules")</li>
                                    <li>@Html.ActionLink("Accounts", "Index", "ManageAccounts")</li>
                                    <li>@Html.ActionLink("Users", "Index", "ManageUsers")</li>
                                    <li>@Html.ActionLink("Change Password", "ChangePassword", "ManageUser")</li>
                                    <li>@Html.ActionLink("Settings", "Index", "ManageClient")</li>
                                </ul>
                            </li>


                        </ul>
                    }
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

        <div class="body-content">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/chartjs")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>

    @* ReSharper disable StatementIsNotTerminated *@
    @* ReSharper disable UnusedParameter *@
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-3250157-10', 'auto');
        ga('send', 'pageview');

    </script>
    @* ReSharper restore UnusedParameter *@
    @* ReSharper restore StatementIsNotTerminated *@
</body>
</html>
