@model Erbsenzaehler.ViewModels.Import.IndexViewModel
<h2>Import</h2>


@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger">
        There was an error - please double-check that the format of your account statements file is supported.
        <p></p>
        <p>The error message was: @Model.ErrorMessage</p>
    </div>
}
else if (Model.ImportResult != null)
{
    <div class="alert alert-success">
        @Model.ImportResult.NewLinesCount.ToString("N0") @(Model.ImportResult.NewLinesCount == 1 ? "line has" : "lines have") been imported,
        @Model.ImportResult.DuplicateLinesCount.ToString("N0") @(Model.ImportResult.DuplicateLinesCount == 1 ? "line was a duplicate" : "lines were duplicates").
    </div>
}
else
{
    <div class="alert alert-info">
        To get reports you have to import your account statements from your bank account into Erbsenzähler. Usually you can export or download those from your eBanking portal.
        Erbsenzähler supports a few different formats at the moment. Please <a href="@Url.Action("Contact", "Home")" class="alert-link">let me know</a> if you need support for additional formats.
    </div>
}

@using (Html.BeginForm("Index", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()

        <div class="form-group">
            @* ReSharper disable once Html.IdNotResolved *@
            <label for="accountId" class="control-label col-sm-2">
                Account
                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="You can use multiple accounts to group your account statements, for example one account for your VISA, one for your MasterCard and one for your giro account statements."></span>
            </label>
            <div class="col-sm-4">
                @Html.DropDownList("accountId", Model.AvailableAccounts, new { @class = "form-control" })
            </div>

            @* ReSharper disable once Html.IdNotResolved *@
            <label for="importer" class="control-label col-sm-2">
                Format
                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="You need to specify the format of your account statements file, so that Erbsenzähler can read and interpret it correctly."></span>
            </label>
            <div class="col-sm-4">
                @Html.DropDownList("importer", Model.AvailableImporters, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("file", "Account statement", new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <input type="file" name="file" id="file" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Upload account statements and apply rules</button>
            </div>
        </div>
    </div>
}



