@model Erbsenzaehler.ViewModels.Today.IndexViewModel

@{
    var currentMonth = Model.SelectedDate;

    var previousMonth = currentMonth.Date.AddMonths(-1);
    var nextMonth = currentMonth.Date.AddMonths(1);

    var showPager = Model.MinDate > DateTime.MinValue && Model.MaxDate > DateTime.MinValue;
}

@if (showPager)
{
    <div class="row">
        <div class="col-xs-4">
            <nav>
                <ul class="pager">
                    @if (Model.MinDate < previousMonth && Model.MinDate > DateTime.MinValue)
                {
                        <li>
                            <a href="@Url.Action("Index")?month=@previousMonth.ToString("yyyy-MM")">
                                <span aria-hidden="true">&larr;</span> @previousMonth.ToString("MMMM yyyy")
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="col-xs-4">
            <h2 class="text-center">@currentMonth.ToString("MMMM yyyy")</h2>
            <h2 class="text-center colored-sum @(Model.Balance >= 0 ? "positive" : "negative")">@(Model.Balance > 0 ? "+" : "")@Model.Balance.ToString("N2") €</h2>
        </div>
        <div class="col-xs-4">
            <nav>
                <ul class="pager">
                    @if (Model.MaxDate >= nextMonth)
                {
                        <li>
                            <a href="@Url.Action("Index")?month=@nextMonth.ToString("yyyy-MM")">
                                @nextMonth.ToString("MMMM yyyy") <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>

    <hr />
}

@if (Model.HasLines)
{
    <div class="row">
        <div class="col-sm-4">
            @Html.Partial("_BudgetChart")
        </div>
        <div class="col-sm-4">
            @Html.Partial("_BalanceChart")
        </div>
        <div class="col-sm-4">
            @Html.Partial("_SpendingsChart")
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-12">
            @Html.Action("Index", "LinesEditor")
        </div>
    </div>

    @section scripts
    {

        <script>
            @* ReSharper disable UseOfImplicitGlobalInFunctionScope *@
            window.reloadCallback = function () {
                loadBudgetChart();
                loadBalanceChart();
                loadSpendingsChart();
            };
            @* ReSharper restore UseOfImplicitGlobalInFunctionScope *@
        </script>

        @Html.Partial("_BudgetChartScripts")
        @Html.Partial("_BalanceChartScripts")
        @Html.Partial("_SpendingsChartScripts")
    }}
else
{
    @Html.Partial("_NoLinesWarning")
}
