@model Erbsenzaehler.ViewModels.HistoricalReports.BudgetViewModel

@{
    var currentMonth = Model.Calculator.StartDate;

    var previousMonth = currentMonth.Date.AddMonths(-1);
    var nextMonth = currentMonth.Date.AddMonths(1);
}

@if (Model.Calculator.BudgetResults.Any())
{

    <h2>Your monthly budget</h2>

    <nav>
        <ul class="pager">
            @if (Model.MinDate < previousMonth)
            {
                <li><a href="@Url.Action("Budget")?month=@previousMonth.ToString("yyyy-MM")">&laquo; @previousMonth.ToString("MMMM yyyy")</a></li>
            }
            <li>@currentMonth.ToString("MMMM yyyy")</li>
            @if (Model.MaxDate > nextMonth)
            {
                <li><a href="@Url.Action("Budget")?month=@nextMonth.ToString("yyyy-MM")">@nextMonth.ToString("MMMM yyyy") &raquo;</a></li>
            }
        </ul>
    </nav>


    <table class="table table-striped">
        <tr>
            <th>Category</th>
            <th>Budget limit</th>
            <th>Already spent</th>
            <th>Budget spent</th>
        </tr>

        @foreach (var budgetResult in Model.Calculator.BudgetResults)
        {
            <tr>
                <td><span class="label label-info">@budgetResult.Category</span></td>
                <td class="amount">@budgetResult.TotalLimit.ToString("N2")</td>
                <td class="amount">@budgetResult.TotalAmount.ToString("N2")</td>
                <td>@((budgetResult.CurrentPercentage).ToString("N0")) %</td>
            </tr>
        }
    </table>


}
else
{
    <div class="alert alert-warning">
        You don't have anything to display here yet. You probably want to @Html.ActionLink("create your budget", "Index", "ManageBudgets", null, new { @class = "alert-link" }) first.
    </div>
}