@model Erbsenzaehler.ViewModels.ManageUser.IndexViewModel

<h2>Eigene Einstellungen</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SummaryMailInterval, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EnumDropDownListFor(x => x.SummaryMailInterval, new { @class = "form-control" })
            </div>
            <a href="#" id="previewLink" class="btn btn-default col-md-2">Vorschau</a>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Speichern" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}

<hr/>

<a href="@Url.Action("ChangePassword")" class="btn btn-default">Passwort ändern</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {
            $('#previewLink').click(function () {
                window.open('@Url.Action("SummaryMailPreview")', 'SummarMailPreview', 'width=500, height=700, menubar=no, status=no, toolbar=no, scrollbars=yes');
            });
        });
    </script>
}
